html,
body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

button:focus,
button:focus-visible,
button:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}